.logoutBtn {
  background: transparent;
  border: none;
  padding: 0;
}

.textBtn {
  font-size: 12px;
  color: var(--main-text-color);
  cursor: pointer;
  border-bottom: 1px solid var(--main-text-color);
}

.userAvatar{
    display: flex;
align-items: center;
justify-content: center;
}

.userName{
    display: none;
border-right: 1px solid #e0e5eb;

}

.userMenu{
    display: flex;
    align-items: center;
}