.container {
  width: 320px;
  margin: 0 auto;
  /* height: 100vh; */
}

.containerTablet {
  width: 768px;
  margin: 0 auto;
  padding-left: 26px;
  padding-right: 26px;
}

.containerDesktop {
  width: 1280px;
  margin: 0 auto;
  padding-left: 26px;
  padding-right: 26px;
}
