.section{
    padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url('../../images/ReportPage/bg-main.svg');
  background-repeat: no-repeat;
  background-position: left top -280px;
}