.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 292px;
  height: 152px;

  background: #031634;
  border-radius: 30px;
  /* padding: 41px 30px; */
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}
