.container {
  width: 768px;
  padding-left: 26px;
  padding-right: 26px;
}

.tableHeader {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.tableHeaderItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tablet {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.button {
  border: none;
  border-color: transparent;
}
