.tableHeader {
  height: 40px;
  display: none;
  justify-content: space-between;
  background: #f5f6fb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tableHeaderItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tablet {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.tabletItem {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .tabletItem {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #52555f;
    border-bottom: 1px solid #f5f6fb;
  }

  .tabletItem:not(:last-child) {
    margin-bottom: 10px;
  }
  /* 
  .wrapperDescDataCategory {
    display: flex;
  } */

  .description {
    font-weight: bold;
    font-size: 12px;
    line-height: 0.85;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
  }

  .data {
    font-size: 8px;
    line-height: 0.88;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .category {
    font-size: 8px;
    line-height: 0.88;
    letter-spacing: 0.04em;
  }
  /* .wrapperDescDataCategory {
    align-items: flex-end;
  } */
}

@media screen and (min-width: 768px) {
  .tableHeader {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 21px;
    padding-left: 21px;
  }

  .tablet {
    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tabletItem {
    height: 40px;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f6fb;
    font-size: 12px;
    line-height: 0.857;
    letter-spacing: 0.04em;
    color: #52555f;
  }

  /* .wrapperDatCategory {
    display: flex;
  } */

  /* .wrapperDescDataCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  /* }  */

  .revers {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  .data {
    margin-right: 20px;
  }

  .description {
    font-weight: normal;
  }
}

.sum {
  font-weight: bold;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.04em;
  margin-right: 20px;
}

.button {
  border: none;
  background-color: transparent;
  padding: none;
}

/* .wrapperSumBtn {
  display: flex;
  justify-content: center;
  align-items: center;
} */
