.tableHeader {
  height: 40px;
  display: none;
  justify-content: space-between;
  background: #f5f6fb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tableHeaderItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabletItem {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  padding: none;
}

.description {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .tabletItem {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #52555f;
    border-bottom: 1px solid #f5f6fb;
  }

  .description {
    font-weight: bold;
    font-size: 12px;
    line-height: 0.85;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }

  .data {
    font-size: 8px;
    line-height: 0.88;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .category {
    font-size: 8px;
    line-height: 0.88;
    letter-spacing: 0.04em;
    margin-right: 75px;
  }
  .sumWrapper {
    display: inline-block;
    position: absolute;
    right: 10px;
    text-align: center;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .tableHeader {
    height: 40px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    padding-right: 21px;
    padding-left: 21px;
    font-weight: bold;
    font-size: 12px;
    line-height: 0.857;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
  }

  .tablet {
    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    display: grid;
  }

  .tabletItem {
    height: 40px;
    box-sizing: border-box;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f6fb;
    font-size: 12px;
    line-height: 0.857;
    letter-spacing: 0.04em;
    color: #52555f;
    padding-right: 35px;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    align-items: center;
  }

  .category {
    grid-column-start: 3;
  }

  .revers {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  .data {
    margin-right: 20px;
    grid-column-start: 1;
  }

  .description {
    grid-column-start: 2;
    grid-row-start: 1;
    font-weight: normal;
  }

  .sumWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .button {
    padding-bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1280px) {
  /* .tabletItem {
    grid-template-columns: 20% 30% 15% 35%;
  } */

  /* .sumWrapper {
    justify-content: center;
  } */
}

.sum {
  font-weight: bold;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.04em;
  margin-right: 20px;
}

.svg:hover {
  scale: 1.5;
}
