.categoryForm {
  display: inline-block;
  padding: 14px 20px;
  border: 2px solid var(--main-background-color);
box-sizing: border-box;
border-bottom-right-radius: 16px;
 }

.categoryFormSelect {
 color: var(--placeholders-text-color);
  border: none;
  padding: 0;

}
:global .css-tlfecz-indicatorContainer{
  padding:0;
}

:global .css-1efk6oh-Control{
justify-content: space-between;
align-items: center;
}
.optionItem{
  padding: 12px 20px;
}
